<!DOCTYPE html>

<html ng-app lang="en">

<% include header.html %>

<body>

	<% include navbar.html %>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<% include sidebar.html %>
			</div>
			
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div ng-controller="ctrl_overview_sensordata">
					<h1 class="page-header">Overview (Realtime)</h1>
					<div class="row placeholders">
						<div class="col-xs-6 col-sm-3 placeholder">
							<h4><a href="#" id="link_chart_temp">Temperature</a></h4>
							<h4><span class="text-muted">{{Temperature}} &deg;C</span></h4>
						</div>
						<div class="col-xs-6 col-sm-3 placeholder">
							<h4><a href="#" id="link_chart_humi">Humidity</a></h4>
							<h4><span class="text-muted">{{Humidity}} %</span></h4>
						</div>
						<div class="col-xs-6 col-sm-3 placeholder">
							<h4><a href="#" id="link_chart_pres">Barometric Pressure</a></h4>
							<h4><span class="text-muted">{{Pressure}} hPa</span></h4>
						</div>
						<div class="col-xs-6 col-sm-3 placeholder">
							<h4><a href="#" id="link_chart_uv">UVIndex</a></h4>
							<h4><span class="text-muted" ng-if="UVIndex >= 6">6+</span></h4>
							<h4><span class="text-muted" ng-if="UVIndex < 6">{{UVIndex}}</span></h4>
						</div>
					</div>
					
					<h2 class="sub-header" id="box_header_chart" style="display: none;">
						<span id="title_header_chart"></span>
						<span class="pull-right">
							<a href="#" class="btn_chart_hrs" data-hrs="4">[4 hrs]</a>
							<a href="#" class="btn_chart_hrs" data-hrs="24">[24 hrs]</a>
							<a href="#" class="btn_chart_hrs" data-hrs="168">[A Week]</a>
						</span>
					</h2>
					<canvas id="chart_overview" style="display: none;"></canvas>

					<h2 class="sub-header">Historical Data</h2>
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Time</th>
									<th>Temperature (&deg;C)</th>
									<th>Humidity (%)</th>
									<th>Barometric Pressure (hPa)</th>
									<th>UVIndex</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="d in data">
									<td>{{d.Time}}</td>
									<td>{{d.Temperature}}</td>
									<td>{{d.Humidity}}</td>
									<td>{{d.Pressure}}</td>
									<td ng-if="d.UVIndex >= 6">6+</td>
									<td ng-if="d.UVIndex < 6">{{d.UVIndex}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div> <!-- controller -->
			</div> <!-- main -->
		</div> <!-- row -->
	</div> <!-- container-fluid -->
	
	<% include footer.html %>
</body>

<script type="text/javascript">
<!-- INLINE JS CODE -->
</script>
